*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* changes box model so that border and padding are no longer added to the total width or height  */
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}